.podcasts {
    border-width: 2px;
    margin: 0px;
    padding: 20px;
    list-style: none;
    display: grid;
    grid-gap: 20px;
}
.podcasts__link {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
    text-decoration: none;
    color: black;
}

.podcasts__image {
    width: 100%;
}
.podcasts__text {
    width: 50%;
}